<div class="centered-content">
    <div class="login-box">
      <h1 class="title">
          Welcome again
      </h1>
      
      <form>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input #email type="email" class="form-control" id="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input #password type="password" class="form-control" id="password">
        </div>

        <p>Don't have an account? <a routerLink="/signup">Signup.</a></p>

        <button 
              (click)="clickOnSignIn(email.value, password.value)" 
              type="button" 
              class="btn btn-sm float-end" 
              style="color: white; background-color: #2ec1ac;"
        >Sign in</button>

      </form>
    </div>
</div>