<div class="centered-content">
    <div class="task-manager-content">
        <!-- List bar -->
        <div class="sidebar">
            <h1 class="title">List</h1>
            <div class="list-menu">
                <div class="list-menu-item"
                    *ngFor="let list of lists" 
                    style="text-decoration: none;"
                    [routerLink]="['/lists', list._id]"
                    routerLinkActive="is-active"
                >
                    <p style="margin: 0;">{{ list.title }}</p>
                </div>
            </div>
            <button 
                class="btn btn-sm" 
                routerLink="/new-list" 
                style="color: white; background-color: #2ec1ac;" 
                title="Add list"
            >+ New List</button>
        </div>

        <!-- Task section -->
        <div class="task-list-content">
            <h1 class="title">Tasks</h1>
            <button class="btn btn-sm btn-secondary logout-btn" (click)="logOutClick()">Logout</button>
            <!-- dropdown button -->
            <button 
                class="btn drop-btn btn-sm btn-outline-secondary dropdown-toggle" 
                type="button" data-bs-toggle="dropdown"
            >
                <i class="fa fa-lg fa-cog fa-spin"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><p class="drop-item" [routerLink]="['/edit-list', selectedListId]">Edit selected list</p></li>
                <li><p class="drop-item" (click)="deleteList()" style="color: red">Delete selected list</p></li>
            </ul>    
            <!-- Task list -->
            <div *ngIf="selectedListId===''; else elseBlock">
                <div class="msg"><h4 style="line-height: 300px;">Please select the list from sidebar</h4></div>
            </div>
            <ng-template #elseBlock>
                <div class="task-menu">
                    <div *ngIf="tasks !== undefined && tasks.length > 0; else elBlock">
                        <div class="task-for" *ngFor="let task of tasks">
                            <div class="task-menu-item task-title" (click)="completedTask(task)" [ngClass]="{ 'completed' : task.completed }" title="Mark as complete">
                                <p>{{ task.title }}</p>
                            </div>
                            <div class="task-btn">
                                <button class="btn btn-sm btn-outline-secondary" 
                                        title="Edit task" style="margin-right: 7px;"
                                        
                                        style="height: 32px; border: none"
                                        [routerLink] = "['/edit-task', selectedListId, 'tasks', task._id]"
                                >
                                    <i class="fa fa-pencil edit-btn" ></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" 
                                        title="Delete task"
                                        (click)="deleteTask(task._id)"
                                        style="height: 32px; border: none; width: 32px;"
                                >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>                    
                    <ng-template #elBlock>
                        <div class="msg"><h4 style="line-height: 300px;">Please add task...</h4></div>
                    </ng-template>
                </div>
                <button class="task-button" routerLink="./new-task" title="Add task"><p>+</p></button>
            </ng-template>

        </div>
    </div>
</div>
