<div class="centered-content">
    <div class="login-box">
      <h1 class="title">
          Welcome
      </h1>
      
      <form>
        <div class="mb-3" routerLinkActive="is-active">
          <label for="email" class="form-label">Email address</label>
          <input #email type="email" class="form-control" id="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input #password type="password" class="form-control" id="password">
        </div>
        
        <div class="mb-3">
          <label for="confirm" class="form-label">Confirm Password</label>
          <input #cpassword type="password" class="form-control" id="confirm">
        </div>

        <p>Alresady have an account? <a routerLink="/signin">Signin</a></p>

        <button 
          type="button" 
          class="btn btn-sm float-end " 
          style="color: white; background-color: #2ec1ac;"
          (click)="clickOnSignUp(email.value, password.value, cpassword.value)"
        >Sign up</button>

      </form>
    </div>
</div>